* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    background: #ffffff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}
.badge {
    color: #469165;
    background: #fefffe;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 14px;
}
.btn-primary {
    background: #22c55e;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: 6px;
     transition: background-color 0.3s ease, transform 0.3s ease; 
}
.btn-primary:hover{
    background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-outline {
    border: 1px solid #cbd5e1;
    padding: 10px 18px;
    border-radius: 6px;
    color: #fcfcfc;
    background-color: #d4d4d400;
    
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #0f172a, #020617);
    background-image: url(../assets/hero-bg.png);
    color: #fff;
    
}

.vector-co{
   
    background-color: #f95555;
    border-radius: 100px;
    padding: 8px;
}

.hero span {
    color: #22c55e;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.9;
}



/* PROBLEMS */
.problems {
    padding: 80px 60px;
    text-align: center;
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
}

/* SOLUTION */
.solution {
    display: flex;
    gap: 60px;
    padding: 120px 120px;
    align-items: center;
}
.ddddppp {
    padding: 10px;
}

.custom-bullet{
    list-style-image: url(./assets/CheckCircle.png);
}

.btn-get {
    color: #ffffff;
    padding: 16px 16.5px;
    border-radius: 5px;
    background-color: #469165;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
    
}

.btn-get:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);}

/* CTA */
.cta {
    text-align: center;
    background: #f8fafc;
    padding: 80px 20px;
}

.cta small {
    display: block;
    margin-top: 15px;
    color: #64748b;
}

/* FOOTER */
.footer {
    background: linear-gradient(180deg, #061a33, #041225);
    color: #ffffff;
    padding: 40px 80px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Section */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 100px;
}


.footer-social p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-social .icons {
    display: flex;
    gap: 15px;
    width: 20px;
    height: 20px;
}

.footer-social a {
    color: white;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.15);
    display: flex;
   
}


.footer hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin: 30px 0 15px;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}