* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    background: #ffffff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}
.badge {
    background: #fefffe;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 14px;
}
.btn-primary {
    background: #22c55e;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: 6px;
    
}

.btn-outline {
    border: 1px solid #cbd5e1;
    padding: 10px 18px;
    border-radius: 6px;
    color: #fcfcfc;
    background-color: #d4d4d400;
}
/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #0f172a, #020617);
    background-image: url(../assets/hero-bg.png);
    color: #fff;
    
}

.vector-co{
   
    background-color: #f95555;
    border-radius: 100px;
    padding: 8px;
}

.hero span {
    color: #22c55e;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.9;
}



/* PROBLEMS */
.problems {
    padding: 80px 60px;
    text-align: center;
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
}

/* SOLUTION */
.solution {
    display: flex;
    gap: 60px;
    padding: 80px 60px;
    align-items: center;
}

.solution ul {
    margin-top: 20px;
}

.solution ul li {
    margin-bottom: 10px;
}



/* CTA */
.cta {
    text-align: center;
    background: #f8fafc;
    padding: 80px 20px;
}

.cta small {
    display: block;
    margin-top: 15px;
    color: #64748b;
}

/* FOOTER */
footer {
    background: #020617;
    color: #fff;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #cbd5e1;
    margin-left: 15px;
    text-decoration: none;
}
