

body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    background: #ffffff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
}
.logo {
     display: flex;
    padding: 20px 20px;
    align-items: center;
}
.nav-a {
    
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: #0f172a;
    font-weight: 500;
    align-items: center;
}
.badge {
    color: #469165;
    background: #fefffe;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.badge:hover{
    background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn-primary {
    background: #22c55e;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.btn-primary:hover{
    background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-outline {
    border: 1px solid #cbd5e1;
    padding: 10px 18px;
    border-radius: 6px;
    color: #fcfcfc;
    background-color: #d4d4d400;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}
.btn-outline:hover{
    background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
/* banner */
.banner {
    text-align: center;
    padding: 100px 50px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    color: #fff;
    
}



.banner-h1 {
    font-size: 48px;
    margin: 20px 0;
}

.banner-p {
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.9;
}



/* PROBLEMS */
.note {
    padding: 120px 120px;
    text-align: center;
}

.note-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
}
.vector-co{
   
    background-color: #f95555;
    border-radius: 100px;
    padding: 8px;
}

/* SOLUTION */
.solution {
    
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
}
.ddddppp {
    padding-top: 10px;
}

.custom-bullet{
    list-style-image: url(./assets/CheckCircle.png);
}

.btn-get {
    color: #ffffff;
    padding: 16px 16.5px;
    border-radius: 5px;
    background-color: #469165;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
    
}

.btn-get:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);}

/* CTA */
.cta {
    text-align: center;
    background: #f8fafc;
    padding: 80px 20px;
}

.cta small {
    display: block;
    margin-top: 15px;
    color: #64748b;
}

.footer {
    background:  #001931;
    color: #ffffff;
    padding: 40px 80px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 100px;
}


.footer-social p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-social .icons {
    display: flex;
    gap: 15px;
    width: 20px;
    height: 20px;
}
.footer-hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin: 30px 0 15px;
}

.footer .copyright {
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}